@import "tailwindcss";

@theme {
    --color-green: #498467;
    --color-green-dark: #3A6953;
    --color-brown: #fff8ee;
    --color-brown-dark: #1d1a17;
}

h1 {
    @apply text-2xl
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #1f2937; /* dark-gray-800 */
}
::-webkit-scrollbar-thumb {
    background: #4b5563; /* dark-gray-600 */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* dark-gray-500 */
}

:root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
}